<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.meal.dao.mapper.GroupEmployeeDao">
    <resultMap id="BaseResultMap" type="com.group.meal.dao.dataobject.GroupEmployeeDO">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="company_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="employee_number" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="post_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="department_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_del" javaType="java.lang.Byte" jdbcType="TINYINT"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, status, name, company_id, phone, employee_number, post_name,
        department_name, is_del
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from group_employee
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from group_employee
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.group.meal.dao.dataobject.GroupEmployeeDO">
    insert into group_employee (id, gmt_create, gmt_modified, 
      status, name, company_id, 
      phone, employee_number, post_name, 
      department_name, is_del)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}, #{companyId,jdbcType=BIGINT}, 
      #{phone,jdbcType=VARCHAR}, #{employeeNumber,jdbcType=VARCHAR}, #{postName,jdbcType=VARCHAR}, 
      #{departmentName,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.group.meal.dao.dataobject.GroupEmployeeDO">
        insert into group_employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="employeeNumber != null">
                employee_number,
            </if>
            <if test="postName != null">
                post_name,
            </if>
            <if test="departmentName != null">
                department_name,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="employeeNumber != null">
                #{employeeNumber,jdbcType=VARCHAR},
            </if>
            <if test="postName != null">
                #{postName,jdbcType=VARCHAR},
            </if>
            <if test="departmentName != null">
                #{departmentName,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.group.meal.dao.dataobject.GroupEmployeeDO">
        update group_employee
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="employeeNumber != null">
                employee_number = #{employeeNumber,jdbcType=VARCHAR},
            </if>
            <if test="postName != null">
                post_name = #{postName,jdbcType=VARCHAR},
            </if>
            <if test="departmentName != null">
                department_name = #{departmentName,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.group.meal.dao.dataobject.GroupEmployeeDO">
    update group_employee
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=BIGINT},
      phone = #{phone,jdbcType=VARCHAR},
      employee_number = #{employeeNumber,jdbcType=VARCHAR},
      post_name = #{postName,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>