<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.meal.dao.mapper.GroupCompanyDao">
    <resultMap id="BaseResultMap" type="com.group.meal.dao.dataobject.GroupCompanyDO">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT"/>
            <arg column="full_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="short_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="owner_city" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="area" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="contact_person" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="contact_phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="cooperation_start_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="cooperation_end_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="is_del" javaType="java.lang.Byte" jdbcType="TINYINT"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, status, full_name, short_name, owner_city, area, address, 
    contact_person, contact_phone, cooperation_start_time, cooperation_end_time, is_del
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from group_company
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from group_company
        <trim suffixOverrides="and">
            <where>
                <if test="queryParam.id != null">
                    id = #{queryParam.id,jdbcType=BIGINT}
                </if>
                <if test="queryParam.gmtCreate != null">
                    gmt_create = #{queryParam.gmtCreate,jdbcType=TIMESTAMP} and
                </if>
                <if test="queryParam.gmtModified != null">
                    gmt_modified = #{queryParam.gmtModified,jdbcType=TIMESTAMP} and
                </if>
                <if test="queryParam.status != null">
                    status = #{queryParam.status,jdbcType=TINYINT} and
                </if>
                <if test="queryParam.fullName != null">
                    full_name = #{queryParam.fullName,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.shortName != null">
                    short_name = #{queryParam.shortName,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.ownerCity != null">
                    owner_city = #{queryParam.ownerCity,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.area != null">
                    area = #{queryParam.area,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.address != null">
                    address = #{queryParam.address,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.contactPerson != null">
                    contact_person = #{queryParam.contactPerson,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.contactPhone != null">
                    contact_phone = #{contactPhone,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.cooperationStartTime != null">
                    cooperation_start_time = #{queryParam.cooperationStartTime,jdbcType=TIMESTAMP} and
                </if>
                <if test="queryParam.cooperationEndTime != null">
                    cooperation_end_time = #{queryParam.cooperationEndTime,jdbcType=TIMESTAMP} and
                </if>
                <if test="queryParam.isDel != null">
                    is_del = #{queryParam.isDel,jdbcType=TINYINT} and
                </if>
            </where>
        </trim>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        <if test="currentPage != null and pageSize != null">
            limit #{startRow}, #{pageSize}
        </if>

    </select>
    <select id="countByCondition" resultType="java.lang.Long">
        select count(*)
        from group_company
        <trim suffixOverrides="and">
            <where>
                <if test="queryParam.id != null">
                    id = #{queryParam.id,jdbcType=BIGINT}
                </if>
                <if test="queryParam.gmtCreate != null">
                    gmt_create = #{queryParam.gmtCreate,jdbcType=TIMESTAMP} and
                </if>
                <if test="queryParam.gmtModified != null">
                    gmt_modified = #{queryParam.gmtModified,jdbcType=TIMESTAMP} and
                </if>
                <if test="queryParam.status != null">
                    status = #{queryParam.status,jdbcType=TINYINT} and
                </if>
                <if test="queryParam.fullName != null">
                    full_name = #{queryParam.fullName,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.shortName != null">
                    short_name = #{queryParam.shortName,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.ownerCity != null">
                    owner_city = #{queryParam.ownerCity,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.area != null">
                    area = #{queryParam.area,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.address != null">
                    address = #{queryParam.address,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.contactPerson != null">
                    contact_person = #{queryParam.contactPerson,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.contactPhone != null">
                    contact_phone = #{contactPhone,jdbcType=VARCHAR} and
                </if>
                <if test="queryParam.cooperationStartTime != null">
                    cooperation_start_time = #{queryParam.cooperationStartTime,jdbcType=TIMESTAMP} and
                </if>
                <if test="queryParam.cooperationEndTime != null">
                    cooperation_end_time = #{queryParam.cooperationEndTime,jdbcType=TIMESTAMP} and
                </if>
                <if test="queryParam.isDel != null">
                    is_del = #{queryParam.isDel,jdbcType=TINYINT} and
                </if>
            </where>
        </trim>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from group_company
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByIds">
        delete from group_company
        where id IN
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.group.meal.dao.dataobject.GroupCompanyDO">
      insert into group_company (
      gmt_create, gmt_modified,
      full_name, short_name,
      owner_city, area, address, 
      contact_person, contact_phone,
      cooperation_start_time, cooperation_end_time)
      values (NOW(), NOW(),
      #{fullName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR},
      #{ownerCity,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{contactPerson,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR},
      #{cooperationStartTime,jdbcType=TIMESTAMP}, #{cooperationEndTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.group.meal.dao.dataobject.GroupCompanyDO">
        update group_company
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="fullName != null">
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null">
                short_name = #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="ownerCity != null">
                owner_city = #{ownerCity,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="contactPerson != null">
                contact_person = #{contactPerson,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                contact_phone = #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="cooperationStartTime != null">
                cooperation_start_time = #{cooperationStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cooperationEndTime != null">
                cooperation_end_time = #{cooperationEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.group.meal.dao.dataobject.GroupCompanyDO">
    update group_company
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      full_name = #{fullName,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      owner_city = #{ownerCity,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      contact_person = #{contactPerson,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      cooperation_start_time = #{cooperationStartTime,jdbcType=TIMESTAMP},
      cooperation_end_time = #{cooperationEndTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>