<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.meal.dao.mapper.GroupMealRuleDao">
  <resultMap id="BaseResultMap" type="com.group.meal.dao.dataobject.GroupMealRuleDO">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="company_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="week_day" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="meal_type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="meal_start_time" javaType="java.util.Date" jdbcType="TIME" />
      <arg column="meal_end_time" javaType="java.util.Date" jdbcType="TIME" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, company_id, week_day, meal_type, meal_start_time, meal_end_time, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from group_meal_rule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from group_meal_rule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.group.meal.dao.dataobject.GroupMealRuleDO">
    insert into group_meal_rule (id, gmt_create, gmt_modified, 
      company_id, week_day, meal_type, 
      meal_start_time, meal_end_time, status
      )
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{companyId,jdbcType=BIGINT}, #{weekDay,jdbcType=TINYINT}, #{mealType,jdbcType=TINYINT}, 
      #{mealStartTime,jdbcType=TIME}, #{mealEndTime,jdbcType=TIME}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group.meal.dao.dataobject.GroupMealRuleDO">
    insert into group_meal_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="weekDay != null">
        week_day,
      </if>
      <if test="mealType != null">
        meal_type,
      </if>
      <if test="mealStartTime != null">
        meal_start_time,
      </if>
      <if test="mealEndTime != null">
        meal_end_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="weekDay != null">
        #{weekDay,jdbcType=TINYINT},
      </if>
      <if test="mealType != null">
        #{mealType,jdbcType=TINYINT},
      </if>
      <if test="mealStartTime != null">
        #{mealStartTime,jdbcType=TIME},
      </if>
      <if test="mealEndTime != null">
        #{mealEndTime,jdbcType=TIME},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.meal.dao.dataobject.GroupMealRuleDO">
    update group_meal_rule
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="weekDay != null">
        week_day = #{weekDay,jdbcType=TINYINT},
      </if>
      <if test="mealType != null">
        meal_type = #{mealType,jdbcType=TINYINT},
      </if>
      <if test="mealStartTime != null">
        meal_start_time = #{mealStartTime,jdbcType=TIME},
      </if>
      <if test="mealEndTime != null">
        meal_end_time = #{mealEndTime,jdbcType=TIME},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.meal.dao.dataobject.GroupMealRuleDO">
    update group_meal_rule
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      company_id = #{companyId,jdbcType=BIGINT},
      week_day = #{weekDay,jdbcType=TINYINT},
      meal_type = #{mealType,jdbcType=TINYINT},
      meal_start_time = #{mealStartTime,jdbcType=TIME},
      meal_end_time = #{mealEndTime,jdbcType=TIME},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>