#set($title = "菜品管理")
#set($layout = "/layout/default.vm")

<input id="demo" type="text" name="" autocomplete="off" class="layui-input">
##<div id="demo"></div>

<script src="/static/layui/layui.all.js"></script>
<script src="/static/js/common.js"></script>
<script>
    layui.tree({
        elem: '#demo' //传入元素选择器
        ,nodes: [
            {//节点
                name: '父节点1'
                ,children: [{
                    name: '子节点11'
                },{
                    name: '子节点12'
                }]
            },{
                name: '父节点2（可以点左侧箭头，也可以双击标题）'
                ,children: [{
                    name: '子节点21'
                    ,children: [{
                        name: '子节点211'
                    }]
                }]
            }]
        ,click: function(node){
            console.log(node) //node即为当前点击的节点数据
        }
        ,dbclick:function(node) {
            debugger
        }
    });
</script>
