#set($layout = "/layout/default.vm")

<form class="layui-form" action="/company/query">

    <div class="layui-row">
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">公司名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required  lay-verify="required"
                           placeholder="请输入公司全称，支持模糊查询" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">是否停用</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="status" title="">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">所属城市</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required  lay-verify="required"
                           placeholder="请输入公司所属城市" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">所属地区</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required  lay-verify="required"
                           placeholder="请输入公司所属地区" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
                ##                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </div>

</form>

<table id="companys_table"></table>

<script type="text/html" id="oparatorBar">
    <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>
<script>
    var elem = '#companys_table';
    var url = '/company/query';
    var cols = [[
        {field: 'id', title: 'ID'}
    ]];
    renderTable(elem, url, cols);
</script>
<script type="text/babel"></script>

</body>
</html>