#set($layout = "/layout/default.vm")

<table id="demo"></table>

<script>
    var elem = '#demo';
    var url = '/company/query';
    var cols = [[{field: 'id', title: 'ID'}]];
    renderTable(elem, url, cols);
</script>