<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="/static/layui/css/layui.css">

    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>

    <script src="/static/layui/layui.all.js"></script>

</head>
<body>

<div class="content">
##    #parse("/common/header.vm")
    <div class="content-info">
##        #parse("/common/leftMenu.vm")
        <div class="content-main">
            $screen_content
        </div>
    </div>
##    #parse("common/footer.vm")
</div>


</body>

</html>
